* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

#menu {
  position: relative;
  top: 10vh;
  width: auto;
  padding: 10px;
  display: flex;
  font-size: 14px;
}

#menu ul {
  position: absolute;
  display: none;
  margin-top: 20px;
  height: auto;
  background-color: #98ccff;
  /* padding: 7px; */

  width: 136px;
  border-bottom: 2px solid white;
}
#menu ul > li {
  text-align: start;
  padding: 12px;
  border-bottom: 1px solid white;
}

#menu li:hover ul {
  display: block;
}

li {
  list-style: none;
}

.li-head {
  width: auto;
  padding: 20px 10px;
  background-color: #98ccff;
}
.li-head:hover {
  color: white;
  background-color: burlywood;
}
.li-head > a:hover {
  color: white;
  background-color: burlywood;
}

a {
  text-decoration: none;
}
.list-item {
  color: white;
  padding-top: 15px;
  height: auto;
  font-size: 15px;
}
@media screen and (min-width: 350px) and (max-width: 600px) {
  .li-head {
    font-size: small;
  }
  .list-item {
    font-size: small;
  }
}
@media screen and (min-width: 601px) and (max-width: 1280px) {
  #menu {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
  .li-head {
    padding: 7px 6px;
  }
  #menu ul {
    margin-top: 8px;
    height: auto;
    background-color: #98ccff;
    width: 110px;
  }

  .li-head > a {
    font-size: small;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1420px) {
  #menu {
    width: 100vw;
  }

  .li-head {
    padding: 6px 22px;
    font-size: medium;
  }

  .list-container {
    margin-left: -36px;
  }
  #menu ul {
    margin-top: 6px;
    height: auto;
    background-color: #98ccff;
    width: 136px;
  }
}
@media screen and (min-width: 1420px) and (max-width: 1920px) {
  #menu {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }

  .li-head {
    padding: 5px 26px;
    font-size: medium;
  }

  .list-container {
    margin-left: -36px;
  }
  #menu ul {
    margin-top: 5px;
    height: auto;
    background-color: #98ccff;
    width: 136px;
    border-bottom: 2px solid white;
  }
}

@media screen and (min-width: 990px) and (max-width: 1280px) {
  .li-head {
    padding: 11px 19px;
  }
  #menu ul {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1580px) and (max-width: 1690px) {
  .li-head {
    padding: 13px 43px;
    font-size: 12px;
  }
  #menu ul {
    margin-top: 13px;
  }
}

@media screen and (min-width: 1690px) and (max-width: 1920px) {
  .li-head {
    padding: 13px 41px;
  }
  #menu ul {
    margin-top: 13px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2520px) {
  .li-head {
    width: auto;
    padding: 10px 83px;
    font-size: large;
  }
  a {
    width: 30px;
  }
  #menu ul {
    margin-top: 13px;
  }
}
